.nav-wrapper{
  background-color: #D50303;
}

.parallax-container {
      height: 500px;
}

.header{
  text-align: center;
  font-family: fantasy;
  font-weight: 400;
  font-size: 80px;
}

.slogan {
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
}

/*.midSection {
  background-color: #D50303;
}*/

.rowContainer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #D50303;
}

h2.header {
    margin: 0px;
}

p.slogan {
    margin: 0;
}
